# ML & Data
pandas
numpy
scikit-learn
mlflow
psycopg2-binary
kagglehub
matplotlib

# API
fastapi
uvicorn
python-dotenv

# Airflow Providers (нужны для тасков)
apache-airflow-providers-docker
apache-airflow-providers-postgres
